* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    color: #F8F9FA;
}

.main-page {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#backgroundVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-logo {
    max-width: 500px;
    margin-bottom: 10px;

}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.hero-section {
    margin-top: 1vh;
}

.hero-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 24px;
    margin-bottom: 40px;
}

.cta-buttons button {
    background-color: #FFD700; /* Gold color matching the logo */
    color: black;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-buttons button:hover {
    background-color: #FFA500; /* Darker gold for hover */
}

::-webkit-scrollbar {
    display: none;
}
