.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);
  padding: 15px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar a {
  color: var(--primary-text-color);
  font-size: 1.2rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.navbar a:hover {
  color: var(--accent-color);
}

.navbar .brand {
  font-size: 1.5rem;
  font-weight: bold;
}
